*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: black;
}

#sec1
{
    width: 100%;
    height: 25vh;
    background-color: black;
    display: flex;
    align-items: center; /*  To align horizontally  */
    justify-content: center; /*  To align vertically  */
}
#logo-img
{
 height: 100%;
 width: auto;
}

#sec2
{
    width: 100%;
    height: 10vh;
    background-color: #A0522D;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
#sec2 a {
    text-decoration: none; /* Removes underline from links */
    color: white; /* White text */
    font-family: Parkinsans,Arial, Helvetica, sans-serif;
    font-size: 2vh;
    margin: 1vw;
    padding: 0.5vw;
}
#sec2 a:hover 
{
    background-color: #042e3e;
}

#sec3
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro-video
{
    width: 100vw;
    height: 177vw;
}

#sec4
{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#the-exclusive
{
    color: goldenrod;
    font-weight: bold;
    font-family: Kode Mono,Arial, Helvetica, sans-serif;
    font-size: 6vw;
    margin: 5vw;
    padding: 2vw;
}
@keyframes appear 
{
    0%
    {
        transform: translateX(-300px);
    }
    100%
    {
        transform: translateX(0px);
    }
}

#sec5
{
    width: 100wv;
    height: auto;
    display: flex;
    flex-direction: column;
}

#containers
{
    display: flex;
    margin: 10vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10vh;
}

#box1, #box3, #box5
{
    width: 100vw;
    margin: 5vh;
    height: auto;
    background-color: black;
}
.disimg
{
    width: 100%;
    height: auto;

}
#box2, #box4, #box6
{
    width: 100vw;
    height: auto;
    margin: 5vh;
    background-color: black;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paradesc
{
    color: aliceblue;
    font-family: Merienda,Arial, Helvetica, sans-serif;
    font-size: 3.5vh;
    overflow: hidden;

}

.paradesc::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 5px solid red;
    animation: type 4s steps(20) infinite; 

}
@keyframes type 
{
40%, 60%
{
    left: 100%;
}
100%
{
    left: 0%;
}
}
#buybtn
{
    margin: 5vh;
    padding: 0.5vh;
    border: 5px solid brown;
    border-radius: 20px;
    font-size: 2vh;
    background-color: burlywood;
    transition: transform 0.3s ease;
    font-family: Poppins,Arial, Helvetica, sans-serif;
}
#buybtn:hover
{
    background-color: goldenrod; 
    transform: translateX(10px) scale(1.1);
} 

